@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body,html{
    height: 100vh;
    width: 100%;
}

::-webkit-scrollbar{
    width: .4rem;
    height: .4rem;
}


::-webkit-scrollbar-thumb{
    @apply bg-shape rounded-full
}

body{
    @apply bg-body;
}
#root{
    @apply h-full flex flex-col 2xl:mx-auto 2xl:container;
}

.phone-nav{
    z-index: 999;
}

.desktop-nav-item{
    @apply flex items-center gap-4 p-3 pl-8 hover:bg-shape
}

.desktop-nav-item svg{
    @apply fill-primary w-7
}

.desktop-nav-item span{
    @apply text-primaryText text-sm;
}

.phone-nav-item{
    @apply flex flex-col justify-center items-center gap-1.5;
}

.phone-nav-item svg{
    @apply w-6 h-6 fill-secondaryText
}

.phone-nav-item .icon{
    @apply w-5;
}

.phone-nav-item span{
    @apply text-secondaryText text-xs;
}

.active svg{
    fill:#7970B3;
}

.active span{
    color:#7970B3;
}


main{
    @apply mx-3 pb-20 lg:pb-1 pt-10 lg:ml-64 lg:mr-4;
}
.btn-switcher-desktop{
    @apply flex-1 flex justify-center items-center pb-2 text-secondaryText;
    border-bottom: 1px solid #414554;
}

.btn-switcher{
    @apply flex-1 flex justify-center items-center pb-2 text-secondaryText;
    border-bottom: 1px solid #414554;
}

.tab-active{
    @apply text-primaryText;
    border-bottom: 1px solid #7970B3 ;
}


.username{
    max-width: 9.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.channel-name{
    max-width: 15rem;
}

.new-message{
    max-width: 8.5rem;
}

.btn-message{
    border-bottom: 1px solid #41455473;
}

.btn-message:last-child{
    border-bottom:  none;
}

.profile-number{
    max-width: 8rem;
}

.separtor{
    width: 1px;
}

.card-profile{
    width: 26rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 24px;
}

.shadow{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 24px;
}

.content-profile{
    padding-bottom: 7.3rem;
}

.card-user{
    width: 100%
}

.username-card{
    width: 6.5rem;
}

.modal{
    height: 34rem;
    width: 90%;
}

.modal-members{
    width: 90%;
}

.channel{
    height: 38rem;
}

.dropdown-channel{
    width: 22rem;
    top: 3.4rem;
    z-index: 1;
}

.role{
    border-bottom: 1px solid #81879C;
}

.content-rol{
    max-height: 35rem;
    overflow: auto;
}

.name-member{
    max-width: 12rem;
}

.username-search{
    max-width: 12rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box-search{
    max-height: 40rem;
    overflow: auto;
    z-index: 1;
}

@media screen and (min-width: 768px) {
    .card-user{
        width: 30.8%;
    }
  }


@media screen and (min-width: 1024px) {
    .active {
        background-color: #414554;
        border-left: 6px solid #7970B3;
    }
    .active span{
        color: #fff ;
    }
    .content{
        max-width: 1090px;
    }
    .primary-live, .live-list{
        height: 30rem;
    }
    .modal{
        height: 21.5rem;
        width: 40rem;
    }

    .modal-members{
        width: 40rem;
    }
  }

  @media screen and (min-width: 1536px) {
    .content{
        max-width: 1500px;
    }
  }