@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body,html{
    height: 100vh;
    width: 100%;
}

body{
    @apply bg-body;
}
#root{
    @apply h-full flex flex-col
}

.desktop-nav-item{
    @apply flex items-center gap-4 p-3 pl-8 hover:bg-shape
}

.desktop-nav-item svg{
    @apply fill-primary w-7
}

.desktop-nav-item span{
    @apply text-primaryText text-sm;
}

.phone-nav-item{
    @apply flex flex-col justify-center items-center gap-1.5;
}

.phone-nav-item svg{
    @apply w-6 h-6 fill-secondaryText
}

.phone-nav-item .icon{
    @apply w-5;
}

.phone-nav-item span{
    @apply text-secondaryText text-xs;
}

.active svg{
    fill:#7970B3;
}

.active span{
    color:#7970B3;
}

.username{
    max-width: 9rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

main{
    @apply mx-3 pb-28 pt-10 lg:ml-64 lg:mr-4 lg:pb-7;
}
.btn-switcher{
    @apply flex-1 flex justify-center items-center pb-2 text-secondaryText;
    border-bottom: 1px solid #414554;
}

.tab-active{
    @apply text-primaryText;
    border-bottom: 1px solid #7970B3 ;
}

.username{
    max-width: 10.5rem;
}

.btn-message{
    border-bottom: 1px solid #414554;
}

.btn-message:last-child{
    border-bottom:  none;
}
@media screen and (min-width: 1024px) {
    .active {
        background-color: #414554;
        border-left: 6px solid #7970B3;
    }
    .active span{
        color: #fff ;
    }
    .live{
        max-width: 1090px;
    }
    .primary-live, .live-list{
        height: 30rem;
    }
  }

  @media screen and (min-width: 1536px) {

    .search{
        width: 57.4rem;
    }

  }